<?xml version="1.0"?>
<model>
  <name>wamv</name>
  <version>1.0</version>
  <sdf version='1.6'>wamv.sdf</sdf>

  <author>
    <name>Aakash Sethi</name>
    <email>aakash.k.sethi@gmail.com</email>
  </author>

  <description>
    Simple WAM-V model for the RobotX competition.
  </description>
</model>
